.cproject
.project
/.settings
mui/*
!/mui/README 
*/CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake
*.txt
*.dat
*/mui-ping
*/mui-pong
*/brownian
*/vortex
*/multidomain
*/domain-coarse
*/domain-refine